/* //FizzGameStyleSheet// */

/* Color for this project : blue and RED :  */


/* RGB: 244,172, 64 & RGB: 234, 89, 42 | SOURCE IMAGE : 1 & 2
*/
* {
    font-family : "Press Start 2P",sans-serif;
}

body {
    padding:3%;
    /* background-color: rgb(46,98,182); */
    background-color: 	#049cd8;
    
}

h1 {
    color:rgb(254,55,48);
    text-align: center;
    padding:0.5%;
    font-size: 3em;
}

form {
    text-align: center;
    margin-bottom:5%;
    display:block;
}

label{
    font-size: 2em;
    margin-bottom:10%;
}

input{
    width:50%;
    height:10%;
    text-align: center;
}

button{
    width:50%;
    height: 20%;
}

#showInstructions:hover +  #instructionsContainer {
    display:block;
    color:rgb(254,55,48);
    color:black;
}

#instructionsContainer {
    display:none;
    position: relative;
    border: solid 2px;
    text-align: center;
    padding:0.5%;
    font-size: 0.9em;
    line-height: 2;
    text-align: center;
}



p {
    margin:10px;
    line-height: 2;
}
