/* //FizzGameStyleSheet// */

/* Color for this project : blue and RED :  */


/* RGB: 244,172, 64 & RGB: 234, 89, 42 | SOURCE IMAGE : 1 & 2
*/
* {
    font-family : "Press Start 2P",sans-serif;
}

body {
    padding:3%;
    /* background-color: rgb(46,98,182); */
    background-color: #D0E5F2;
    
}

h1 {
    color:#03A66A;
    text-align: center;
    padding:0.5%;
    font-size: 3em;
}

.instructions{
    color:#049DD9
}

form {
    text-align: center;
    margin-bottom:5%;
    display:block;
}

h2{
    font-size: 2em;
    color:#F28705;
    margin-bottom: 5%;
}

input{
    width:50%;
    height:10%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 2em;
}

button{
    display: block;
    font-size: 2em;
    padding:5% 10%;
    margin: auto;
    background-color: #F23838;
    border-radius: 15px;
}

#showInstructions:hover +  #instructionsContainer {
    display:block;
    color:rgb(254,55,48);
    color:black;
}

#instructionsContainer {
    display:none;
    position: relative;
    border: solid 2px;
    text-align: center;
    padding:5%;
    font-size: 1em;
    line-height: 2;
    text-align: center;
    box-shadow: 60px -16px teal;;
}

p {
    margin:10px;
    line-height: 2;
    text-align: center;
}

.progression{
    font-size: 2em;
    color:#F28705
}

.playAgain{
    padding:4% 6%;
    font-size: 1.7em;
}
